@model IEnumerable<InkInc.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Arists</h1>

<table class="table">
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.FullName">@item.FullName</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parlor.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parlor.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parlor.State)
            </td>
        </tr>
                }
    </tbody>
</table>