@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.BaselinePricing"></label>
                <input asp-for="Input.BaselinePricing" class="form-control" />
                <span asp-validation-for="Input.BaselinePricing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PricePerHour"></label>
                <input asp-for="Input.PricePerHour" class="form-control" />
                <span asp-validation-for="Input.PricePerHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.InstagramHandle" class="control-label"></label>
                <br />
                @Html.TextBoxFor(model => model.Input.InstagramHandle, new { placeholder = "@InstagramHandle" })
                <span asp-validation-for="Input.InstagramHandle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Biography" class="control-label"></label>
                @Html.TextAreaFor(model => model.Input.Biography, new { rows = 10, cols = 50, placeholder = "Tell us about yourself, including thematic preferences and specialties." })
                <span asp-validation-for="Input.Biography" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => Model.Input.ParlorId, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => Model.Input.ParlorId, new SelectList(Model.PopulateParlorsDropDownList(), "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Input.ParlorId, "", new { @class = "text-danger" })
            </div>
            @*<div class="form-group">
                <label asp-for="Input.ParlorId"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
                <input type="submit" value="Add new parlor" class="btn btn-secondary" />
            </div>*@
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
