@model InkInc.Models.Parlor

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Users)
        </dd>
    </dl>
</div>
@if (Model.Users != null)
{ 
    <h4>
        Our Artists
    </h4>

    <table class="table">
        @foreach (var item in Model.Users)
        {
        <tr>
            <td>
                <a asp-controller="Users" asp-action="Details" asp-route-id="@item.Id">@item.FullName</a>
            </td>
        </tr>
        }
    </table>
}
<div>
    <a asp-action="Index">Back to List</a>
</div>

