@model IEnumerable<InkInc.Models.Parlor>

@{
    ViewData["Title"] = "Index";
}

<h1>Parlors</h1>

<form asp-controller="Parlors" asp-action="Index">
    <input type="text" name="searchParlorCity" placeholder="Search parlor by city" size="20">
    <input type="submit" value="Search" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hours)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ParlorId">@item.Name</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hours)
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="form-group">
    <input type="submit" value="Add new parlor" class="btn btn-secondary" />
</div>
