@model InkInc.Models.View_Models.UserDetailsViewModel

@using InkInc.Models
@using Microsoft.AspNetCore.Identity

@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Details";
}

@{ var currentUser = await UserManager.GetUserAsync(User);}

@if (SignInManager.IsSignedIn(User) && Model.User.Id == currentUser.Id)
{
    <td>
        <a asp-action="Edit" asp-route-id="@Model.User.Id">Edit Profile</a>
    </td>
}

@if (Model.User.ParlorId != null)
{
    <h1>@Html.DisplayFor(model => model.User.FullName)</h1>

    <h4><a asp-controller="Parlors" asp-action="Details" asp-route-id="@Model.User.Parlor.ParlorId">@Html.DisplayFor(model => model.User.Parlor.Name)</a></h4>
}

@if (Model.User.ParlorId == null)
{
    <h1>@Html.DisplayFor(model => model.User.FullName)</h1>

    @if (SignInManager.IsSignedIn(User) && Model.User.Id == currentUser.Id)
    {
        <form asp-action="Create" asp-controller="Parlors">
            <input type="hidden" asp-for="User.Id" />
            <input type="submit" value="Add Parlor" class="btn btn-success" />
        </form>
    }
}

<hr />


<div>
    @Html.DisplayFor(model => model.User.Biography)
</div>

<hr />

<h4>Contact</h4>
<div>
    <dl class="row">
        <dt class="col-sm-10">
            Set up a consultation:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class="col-sm-10">
            Find me on Instagram:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.InstagramHandle)
        </dd>
    </dl>
</div>

<hr />

<h4>Pricing</h4>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.BaselinePricing)
        </dt>
        <dd class="col-sm-10">
            $@Html.DisplayFor(model => model.User.BaselinePricing)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.PricePerHour)
        </dt>
        <dd class="col-sm-10">
            $@Html.DisplayFor(model => model.User.PricePerHour)/hour
        </dd>
    </dl>
</div>

<hr />

@if (SignInManager.IsSignedIn(User) && Model.User.Id == currentUser.Id)
{
    <td>
        <a asp-action="GetUploadPhoto">Upload image</a>
    </td>
}

@if (Model.User.Photos != null)
{
    <h4>
        Portfolio
    </h4>

    <div class="row" classname="portfolioPic">
        @foreach (var item in Model.User.Photos)
        {
            <p class="col-sm-auto">
                <img src="@Url.Content(item.FilePath)" alt="tattoo" height="300" />
            </p>

            @if (SignInManager.IsSignedIn(User) && Model.User.Id == currentUser.Id)
            {
                <div classname="deleteBtn">                         
                    <a asp-action="Delete" asp-controller="Photos" asp-route-id="@item.Id" class="btn btn-sm"> <img src="~/icons/rubbish-bin.png" height="40" class="img-responsive" alt="delete" >  </a>
                </div>
            }
        }
    </div>
}

<div>
    <a asp-action="Index">Back to List</a>
</div>
