@model InkInc.Models.View_Models.UserDetailsViewModel

@using InkInc.Models
@using Microsoft.AspNetCore.Identity

@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Details";
}

@{ var currentUser = await UserManager.GetUserAsync(User);}

@if (SignInManager.IsSignedIn(User) && Model.User.Id == currentUser.Id)
    {
        <td>
            <a asp-action="Edit" asp-route-id="@Model.User.Id">Edit Profile</a>
        </td>
    }

    <h1>@Html.DisplayFor(model => model.User.FullName)</h1>

    <h4><a asp-controller="Parlors" asp-action="Details" asp-route-id="@Model.User.Parlor.ParlorId">@Html.DisplayFor(model => model.User.Parlor.Name)</a></h4>

    <hr />


    <div>
        @Html.DisplayFor(model => model.User.Biography)
    </div>

    <hr />

    <h4>Contact</h4>
    <div>
        <dl class="row">
            <dt class="col-sm-10">
                Set up a consultation:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.Email)
            </dd>
            <dt class="col-sm-10">
                Find me on Instagram:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.InstagramHandle)
            </dd>
        </dl>
    </div>

    <hr />

    <h4>Pricing</h4>
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.BaselinePricing)
            </dt>
            <dd class="col-sm-10">
                $@Html.DisplayFor(model => model.User.BaselinePricing)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.PricePerHour)
            </dt>
            <dd class="col-sm-10">
                $@Html.DisplayFor(model => model.User.PricePerHour)/hour
            </dd>
        </dl>
    </div>

    <hr />

@if (SignInManager.IsSignedIn(User) && Model.User.Id == currentUser.Id)
    {
    <td>
        <a asp-action="GetUploadPhoto">Upload image</a>
    </td>
    }

    @if (Model.User.Photos != null)
    {
        <h4>
            Portfolio
        </h4>

        <div class="row">
            @foreach (var item in Model.User.Photos)
            {
                <p class="col-sm-auto">
                    <img src="@Url.Content(item.FilePath)" , alt="tattoo" height="300" />
                </p>
                @if (SignInManager.IsSignedIn(User) && Model.User.Id == currentUser.Id)
                {
                <td>
                    <a asp-action="Delete" asp-controller="Photos" asp-route-id="@item.Id">Delete</a>
                </td>
                } 
            }
        </div>
    }

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
