@model InkInc.Models.User

@using InkInc.Models

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaselinePricing" class="control-label"></label>
                <input asp-for="BaselinePricing" class="form-control" />
                <span asp-validation-for="BaselinePricing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricePerHour" class="control-label"></label>
                <input asp-for="PricePerHour" class="form-control" />
                <span asp-validation-for="PricePerHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstagramHandle" class="control-label"></label>
                <input asp-for="InstagramHandle" class="form-control" />
                <span asp-validation-for="InstagramHandle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Biography" class="control-label"></label>
                @Html.TextAreaFor(model => model.Biography, new { rows = 10, cols = 50 })
                <span asp-validation-for="Biography" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ParlorId, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => Model.ParlorId, new SelectList(RegisterModel.ParlorsEditList(), "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ParlorId, "", new { @class = "text-danger" })
                Leave this section blank if you don't see your parlor listed. You'll be able to create a new one later.
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-route-id="@Model.Id">Back to Profile</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
