@model InkInc.Models.View_Models.UserEditViewModel

@using InkInc.Models

@{
    ViewData["Title"] = "Edit";
}

<h1 class="title">Edit Profile</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="User.Id" />
            <div class="form-group">
                <label asp-for="User.FirstName" class="control-label"></label>
                <input asp-for="User.FirstName" class="form-control" />
                <span asp-validation-for="User.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.LastName" class="control-label"></label>
                <input asp-for="User.LastName" class="form-control" />
                <span asp-validation-for="User.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.BaselinePricing" class="control-label"></label>
                <input asp-for="User.BaselinePricing" class="form-control" />
                <span asp-validation-for="User.BaselinePricing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.PricePerHour" class="control-label"></label>
                <input asp-for="User.PricePerHour" class="form-control" />
                <span asp-validation-for="User.PricePerHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.InstagramHandle" class="control-label"></label>
                <input asp-for="User.InstagramHandle" class="form-control" />
                <span asp-validation-for="User.InstagramHandle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Biography" class="control-label"></label>
                @Html.TextAreaFor(model => model.User.Biography, new { rows = 10, cols = 50 })
                <span asp-validation-for="User.Biography" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => Model.User.ParlorId, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(m => Model.User.ParlorId, new SelectList(Model.ParlorOptions, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(m => Model.User.ParlorId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details"  asp-route-id="@Model.User.Id">Back to Profile</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
