@model IEnumerable<InkInc.Models.User>
@using Microsoft.AspNetCore.Identity
@using InkInc.Models


@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1 class="title">Artists</h1>

<form asp-controller="Users" asp-action="Index">
    <input type="text" name="searchUserLocation" placeholder="Search artist by city or state" size="25">
    <input type="submit" value="Search" />
</form>

<hr />

<div class="row">
    @foreach (var item in Model)
    {
        @if (item.ParlorId != null)
        {
    <div class="card mr-3 mb-3">
        <img class="card-img-top" id="artist-card" src="~/icons/dagger.jpg" alt="Card image">
        <div class="card-header" style="background-color:#DB582C">
            <a class="text-white" asp-action="Details" asp-route-id="@item.Id">@item.FullName</a>
        </div>
        <div class="card-body">
            @Html.DisplayFor(modelItem => item.Parlor.Name) <br /> <hr />
            @Html.DisplayFor(modelItem => item.Parlor.CityAndState)
        </div>
    </div>
        }
        @if (item.ParlorId == null)
        {
    <div class="card mr-3 mb-3">
        <img class="card-img-top" id="artist-card" src="~/icons/dagger.jpg" alt="Card image">
        <div class="card-header" style="background-color:#DB582C">
            <a class="text-white" asp-action="Details" asp-route-id="@item.Id">@item.FullName</a>
        </div>
        <div class="card-body">
            No parlor info provided
        </div>
    </div>
        }
    }
</div>