@model IEnumerable<InkInc.Models.User>
@using Microsoft.AspNetCore.Identity
@using InkInc.Models


@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Arists</h1>

<form asp-controller="Users" asp-action="Index">
    <input type="text" name="searchUserCity" placeholder="Search artist by city" size="20">
    <input type="submit" value="Search" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                Parlor Name
            </th>
            <th>
                Parlor Location
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@item.FullName</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Parlor.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Parlor.CityAndState)
                </td>
                
            </tr>
        }
    </tbody>
</table>
